ion-content {
  --background: url('../../assets/images/files/TerenceWCoverPhoto1425x950.jpg') no-repeat 70% center / cover;
  position: relative;
}

ion-header {
  box-shadow: 0;
}

ion-toolbar {
  --opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}